@media (min-width: 600px) and (max-width: 959px) {

  .login-page .login-image{


    padding: 20px;
  }
  .adjust-margin
  {
    height: 100vh;
  }
  .login-page .login-heading {


    font-size: 14px;
  }
  .login-page .form-group {
    margin-bottom: 16px !important;
  }

  .login-page .social-login-heading {

    font-size: 13px;
  }
  .login-page .form-control {
    height: 30px !important;
  }

  .login-page .social-btn-font {
    font-size: 10px !important;
  }

  .login-page .right-inner-addon i {

    padding: 7px 7px;

  }
  .login-page .fa {
    font-size: 14px !important;
  }

  .btn-social>:first-child {
    line-height: 28px !important;
  }

  .form-control{
    font-size: 11px;
  }

  .login-page .md-button{

    min-height: 28px !important;
    line-height: 28px !important;
    font-size: 12px !important;
  }


  .login-page .italic-bold {
    font-size: 10px;
  }

  .login-page .seperator {

    width: 1px;
  }



}

@media (min-width: 700px) and (max-width: 959px) {






}
@media (min-width: 600px) and (max-width: 659px) {










}



